@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
background-image: url("");
    background-size: cover;
   background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom:50px;
}
#aboutp{
  font-family: 'Quicksand', sans-serif;
color:black;
  font-weight: bold;
  font-size:15px;
}
#hi{
  max-width:85%;
font-family: 'Quicksand', sans-serif;
}
#contactsec{
   font-family: 'Satisfy', cursive;
  font-size:30px;
}
#contact iframe
{
    width: 100%;
}
.headingz{
  font-family: 'Staatliches', cursive;

}
#face{
  border-radius:50%;
  width:100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
    color: white;
}
 
input
{
    background: grey
}
#projhead{
      font-family: 'Satisfy', cursive;
  font-size:25px;
}
.travel_mainDiv
{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.travel_mainDiv img
{
  width: 100%;
}

.travel_mainDiv hr
{
    width: 230px; 
}

.travel_mainDiv h5 , .travel_mainDiv p
{
margin-left: 20px;
}


.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
float: right;
  background-color:;
}

.movie_text span
{
color: #ff7700;
}
#quotee{
  font-family: 'Great Vibes', cursive;

}
.environment_li
{
  margin-top: 13px;
}

.environment_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img
{
  border-radius: 25px;
}

.environment_li p
{
  margin-top:10px;
}

.quote
{
  line-height: 2px;
  
}
#map{
  padding-top:40px;
}
.book
{
  cursor: pointer;
}

.book hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center
}
#my_inf{
    padding-top: 50px;
    padding-left: 150px;
}
#aboutMe{
  font-size:35px;
    font-family: 'Satisfy', cursive;

}
#contacticon{
    width: 20%;
    padding-right: 30px;
}
.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .child {
    display: inline-block;
    padding: 1rem 1rem;
    text-align: center;
    vertical-align: middle;
}
/*-----------CAROUSEL CSS----------------*/

.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 80%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}


@media only screen and (max-width: 100px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

    {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none;
}

.slideshow-container img {
    vertical-align: middle;
}


.slideshow-container {
    max-width: 60%;
    position: relative;
    margin: auto;
}
